
<!--<div class="search">
  <form action="//google.com/search" method="get" accept-charset="utf-8">
    <input id="local-search-input" type="search" name="q" results="0" placeholder="<%= __('search') %>">
    <input type="hidden" name="q" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">
  </form>
</div>-->



<!--遮罩层-->
<div class="md-overlay"></div>
<!--搜索和结果区-->
<div class="md-modal md-effect-1" id="modal-1">
    <div class="md-content">
        <div style="padding:10px 20px 10px 10px; text-align:right; color:#74787d; cursor:pointer; border-top-left-radius:5px;border-top-right-radius:5px;border: 0px solid;">
            <i class="fa fa-close fa-lg md-close"></i>
        </div>
        <input class="mysearch-input" autocomplete="off" id="local-search-input" name="q" results="0" placeholder="搜索关键字" class="form-control" onchange="searchFunc('/', 'local-search-input', 'local-search-result')" />
        <div id="local-search-result" class="local-search-result" style="max-height:360px; overflow:scroll;overflow-y:auto; overflow-x:auto;position:relative;"></div>
    </div>
</div>


<script type="text/javascript">      
     var search_path = "<%= config.search.path %>";
     if (search_path.length == 0) {
     	search_path = "search.xml";
     }
     var path = "<%= config.root %>" + search_path;
     searchFunc(path, 'local-search-input', 'local-search-result');
</script>

